a {
    text-decoration: none;
}

body {
    background: #3a3b3c;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    background-image: url("../images/Blue & Black Futuristic Technology Facebook Cover.png");
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    background-image: url("../images/Blue & Black Futuristic Technology Facebook Cover.png");
    background-size: cover;
    background-position: center;
}


.list-message{
    position: fixed;
    top: 20px;
    right: 20px;
    color: black;
    z-index: 9999;
}
.message {
    width: 250px;
    padding: 5px;
    font-size: 12px;
    background-color: #1abc9c;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    right: 20px; /* Hiển thị thông báo từ góc phải */
    margin-top: 5px;
    opacity: 0;
    transform: translateX(100%); /* Bắt đầu ẩn bên phải */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
header {
    /* background-color: #201f23; */
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 10px 100px 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 2px 0 2px 0;
    border-radius: 20px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

header .logo img {
    width: 40px;
    height: 40px;
}

header .navigation a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background-color: #fff;
    color: black;
}
.content {
    margin: 60px 100px;
}




@media screen and (max-width: 1024px) {
    header .navigation {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 30px 50px;
    }
    header .navigation {
        display: none;
    }

    .content {
        margin-left: 50px;
        margin-right: 50px;
    }

    .swiper-context>div {
        margin-inline: 10px
    }

}

@media screen and (max-width: 540px) {
    header {
        padding: 30px 20px;
    }
    header .navigation {
        display: none;
    }
    .content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 400px) {
    header {
        padding: 30px 20px;
    }
    .content {
        margin-left: 20px;
        margin-right: 20px;
    }

}