<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{base.html}">

<head>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="..\static\css\dashboard.css" type="text/css">
</head>


<body>
    <div class="content" layout:fragment="content">
        <div class="product-content">
            <div class="swiper mySwiper">
                <h3>OUR PRODUCT</h3>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next">
                    <i class="ri-arrow-right-s-line"></i>
                </div>

                <div class="swiper-button-prev">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
                <div class="swiper-pagination"></div>
                <div class="autoplay-progress">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        // autoplay: {
        //     delay: 2500,
        //     disableOnInteraction: false
        // },
        // on: {
        //     autoplayTimeLeft(s, time, progress) {
        //         progressCircle.style.setProperty("--progress", 1 - progress);
        //         progressContent.textContent = `${Math.ceil(time / 1000)}s`;
        //     }
        // },
        // autoplay: true,
        // autoplayTimeout: 200,
        autoplayHoverPause: true,
        cssMode: true,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

        breakpoints: {
            370: {
                slidesPerView: 3,
            },
            650: {
                slidesPerView: 3,
            },
            768: {
                slidesPerView: 4,
            },
            968: {
                slidesPerView: 4,
            },
            1024: {
                slidesPerView: 4,
            },
        },

    });

</script>