<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base.html}">

<body>

    <div class="content" layout:fragment="content">
        <div class="info">
            <h2 th:text="'Welcome ' + ${username}"></h2>
            <div class="top-first-content">
                <h3>BY DION</h3>
                <div class="account-action">
                    <div><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a></div>
                    <div><a href="#"><i class="fa-regular fa-clock"></i>Free Trial</a></div>
                </div>
                <div class="bottom-content">
                    <div>
                        <b>Easy to use</b>
                        <img src="..\static\images\dddd.gif" th:src="@{/images/dddd.gif}" alt="">
                        <span>Our vast workforce and premium infrastructure allow us to provide a highly
                            reliable 24/7/365 service</span>
                    </div>
                    <div>
                        <b>Support 24/7</b>
                        <img src="..\static\images\cccc.gif" th:src="@{/images/cccc.gif}" alt="">
                        <span>Can be easily integrated with any programs and scripts which require captcha
                            recognition.</span>
                    </div>
                </div>
            </div>
            <p class="welcome-content">Welcome to the leading software rental service. We provide a variety of
                software solutions to meet all your business needs. With our flexibility and efficiency, you'll
                save significant time and resources.</p>

            <div class="swiper mySwiper">
                <h3>OUR PRODUCT</h3>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-context">
                            <div class="card__image">
                                <img src="..\static\images\zyro-image.ico" th:src="@{/images/zyro-image.ico}"
                                    alt="image" class="card__img">

                            </div>
                            <div class="card__shadow"></div>
                            <div class="card__data">
                                <h3 class="card__name">Lexa Kin</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>
                                <a href="#" class="card__button">View More</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next">
                    <i class="ri-arrow-right-s-line"></i>
                </div>

                <div class="swiper-button-prev">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
                <div class="swiper-pagination"></div>
                <div class="autoplay-progress">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </div>
            <div class="bottom-four-content">
                <a href="#" class="info-btn">More Info</a>
            </div>
        </div>
    </div>
</body>

</html>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false
        },
        on: {
            autoplayTimeLeft(s, time, progress) {
                progressCircle.style.setProperty("--progress", 1 - progress);
                progressContent.textContent = `${Math.ceil(time / 1000)}s`;
            }
        },
        // autoplay: true,
        // autoplayTimeout: 200,
        // autoplayHoverPause: true,
        cssMode: true,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

        breakpoints: {
            370: {
                slidesPerView: 3,
            },
            650: {
                slidesPerView: 3,
            },
            768: {
                slidesPerView: 4,
            },
            968: {
                slidesPerView: 4,
            },
            1024: {
                slidesPerView: 4,
            },
        },


    });

</script>